
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an image</h1>
      <hr>

      <form action="" method="POST" enctype="multipart/form-data">
          {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>
          {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
          {% endif %}
         <form action="" >
          <p>
          <label>Enter Hex code to count</label>
          <input type="text" name="hex_code">
          </p>
          <p>
              <input type="submit">
          </p>
        </form>

        <p>
          {{result}}
          <br>
          {{hex_result}}
        </p>
      </form>
    </div>
  </div>
</div>

{% endblock %}